*.Rdata
*.nc
*.RData
*.csv
*settings.json
data/shapefiles/*
settings.json
*.dly
*.out
output_*.txt
*.sh*.*
*.zip

# Don't ignore these RData files
!data/dep.fit.boot.results3.RData
!data/marginal_fit_quantiles.RData
!data/temperature.RData
!data/temperature_pred.RData
!data/precip.RData
!data/era5_geoinfo.RData
!data/transformed_coordinates.RData
!data/plot_*.RData